* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.page {
  box-sizing: border-box;
  width: 1120px;
  margin: 88px auto 48px;
}

body {
  background-color: #f5f4f0;
}

p {
  font-size: 16px;
  color: #333;
  font-weight: 400px;
}

.linered {
  color: #e1624f;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  font-weight: 700px;
}

h1 {
  font-size: 36px;
  margin-top: 8px;
  font-weight: 700px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 8px;
  font-weight: 700px;
}

h3 {
  font-weight: bold;
  font-size: 28px;
  font-weight: 700px;
}

img {
  border-radius: 28px;
}

.featured {
  padding: 40px 0px;
}

.description {
  margin-top: 24px;
  margin-bottom: 40px;
  color: #333;
}

.destination {
  padding: 64px 0;
}

.destinations img {
  padding: 0px 0px 20px;
}

ul {
  font-weight: bold;
  padding-left: 13px;
}

.HaedongYonggungsaHistory {
  padding: 48px 0px 20px;
}

.HaedongYonggungsa ul {
  color: #0c51a7;
  font-weight: bold;
}

.TemploBeomeo-sa ul {
  padding-left: 13px;
  color: #0c51a7;
  font-weight: bold;
}

.Beomeo-sa-History {
  padding: 48px 0px 20px;
}

.ParqueYongdusan p {
  margin-top: 4px;
}

.couples {
  color: #591b98;
}

.families {
  color: #e5245e;
}

.budget {
  color: #e95e10;
}

.padding-footer {
  padding: 40px 0px;
}

footer p {
  text-align: center;
}

footer div {
  text-align: center;
}

footer img {
  vertical-align: middle;
}

.emoji {
  padding: 65px 0px 0px;
}
